@font-face {
  font-family: 'Proxima';
  src:
    url(../fonts/proximanovacond_regular.ttf) format('truetype'),
    url(../fonts/proximanovacond_regular.woff) format('woff');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-dark: #444444;
  --color-gray: #d9d9d9;
  --color-accent: #a30c33;

  --section-title-size: 56px;

  @media (max-width: 940px) {
    --section-title-size: 28px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: 'Proxima', sans-serif;
  font-weight: normal;
  color: var(--color-gray-dark);
}

a {
  color: var(--color-gray-dark);
  text-decoration: none;

  &:visited {
    color: var(--color-gray-dark);
  }
}

.container {
  margin: auto;
  max-width: 1280px;
  padding: 0 15px;
}
